Package: lmt-repo-tools
Version: 1.0-1
Architecture: all
Maintainer: Lrdsnow _ <Lrdsnow101@gmail.com>
Installed-Size: 13
Section: unknown
Priority: optional
Homepage: <insert the upstream URL, if relevant>
Description: Repo Tools For LMT
 lmt repo tools are for managing lmt repos
